<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 minutes" debug="false">

    <!-- 由于没有使用 ch.qos.logback.ext.spring.web.LogbackConfigListener 监听器，因此必须将 logback.xml 放到 classpath 的一级目录下 -->

    <!-- 引入 logback 属性键值对配置文件 -->
    <!--<property resource="bundle/logback.properties"/>-->

    <contextName>${logback.context.name}</contextName>

    <!--
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="me.junbin.learning.springboot.logback.CustomPatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %clr(${PID:- }){green} %brightClr(\(%class#%M@%line\)){green} %msg%n</pattern>
                <charset class="java.nio.charset.Charset">${log.charset}</charset>
                <immediateFlush/>
            </encoder>
        </appender>
    -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="me.junbin.learning.springboot.logback.CustomPatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %brightClr(%class#%M@%line){green} %msg%n
            </pattern>
            <charset class="java.nio.charset.Charset">${logback.log.charset}</charset>
            <immediateFlush/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>